<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/listings/new" method="post">
        <label for="title">Enter the title</label>
        <input type="text" name="title"><br><br>
        <label for="description">Description</label>
        <input type="text" name="description"><br><br>
        <label for="image">Image url</label>
        <input type="text" name="image"><br><br>
        <label for="price"> Enter price</label>
        <input type="text" name="price"><br><br>
        <label for="location">Location</label>
        <input type="text" name="location"><br><br>
        <label for="country">Country</label>
        <input type="text" name="country"><br><br>
        <button>submit</button>
    </form>
</body>
</html>